@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

.heimu {
  color: transparent;
  background-color: var(--color-text);

  &:hover {
    color: var(--color-background);
  }
}


@media (min-width: 960px) {
  body {
    display: flex;
    place-items: center;
  }
}
